body {
    font-family: arial, helvetica;
    background-color: #ecf0f1;
}

h3 {
    font-size: 4em;
    color: #eab543;
    font-weight: 100;
}
h4 {
    font-weight: 100;

    font-size: 3em;
    padding: 10px;
    color: #eab543;
}
#home {
    background-image: url('https://images.unsplash.com/photo-1595727535715-b956cfc6b2b8?ixlib=rb-1.2.1&auto=format&fit=crop&w=2091&q=80');
}
#section2,
#section3,
#home {
    background-attachment: fixed;
    background-size: cover;
}
h5 {
    font-weight: 100;

    font-size: 2em;
}

.title {
    margin-top: 20vw;
}
.section {
    position: relative;
}
.footer {
    background-color: #34495e;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 7vh;
    height: 20vh;
    text-align: center;
    color: white;
    transition: all 1.1s ease-in;
    -webkit-transition: all 1.1 ease-in;
}
.fp-viewing-0 .footer {
    bottom: -20vh;
}
.fp-viewing-1 #image {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.1s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.header,
.ui.list > .item .header {
    color: #eab543;
}
div.header {
    background-color: #34495e;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    /* padding: 40px; */
    width: 100vw;
    height: 23vh;
    text-align: center;
    color: white;
}
.inline {
    display: inline;
}
#sevenHeader {
    position: absolute;
    color: white;
    height: 100%;
    padding-top: 7vh;
    width: 100vw;
    left: 0;
    text-align: center;
}
#slides {
    height: 70vh;
    position: relative;
}
div.fp-tableCell {
    vertical-align: top;
}
div.main {
    margin-top: 7vw;
}
#fulcrumIMG {
    height: 50vh;
    border-radius: 3px;
}
p {
    font-size: 1.5em;
    line-height: 2;
    color: rgb(109, 115, 116);
}
#forwards {
    position: absolute;
    top: 50%;
}
#backwards {
    position: absolute;
    right: 0;
    top: 50%;
}
#slides h3 {
    padding-top: 20px;
    font-size: 2.5em;
}
#slides p {
    font-size: 1.25em;
}
.button {
    z-index: 2;
    opacity: 0.5;
}
